
/target/*
!target/deploy/
!target/idl/
!target/types/


target/deploy/*.so


!target/deploy/lucky_trading-keypair.json
!target/idl/lucky_trading.json
!target/types/lucky_trading.ts


.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn

.env